//style
background-color = #FFFFF


//header
header-url = 'img/background.JPG'

//banner
banner-background = white

//menu
menu-color = #000000

//main
main-backgroundColor = rgb(243, 243, 243)

//footer
footer-backgroundColor = #616161
footer-color = #F5F5F5
