@import '_variables'


body
  background-color: background-color;
  font-size: 1.25rem;
  font-family: "Comic Sans MS","Trebuchet MS"
  line-height: 1.5;
  margin: 0

hr
  border 1px solid #eee;



@import "_partial/header";
@import "_partial/post";
@import "_partial/main"
@import "_partial/footer"
@import "_partial/posted"
@import "_partial/tags"
@import "_partial/self"
@import "_partial/topbar"
@import "_partial/sidebar"