.footers
  margin 0 0
  width 100%
  background footer-backgroundColor
  color footer-color
  text-align center

.footer
  padding 1em auto
  width 70%
  margin auto auto
  display flex
  justify-content space-around
  a
    color footer-color
    text-decoration: none
    transition .5s all
    &:hover
      color #BDBDBD
  .footer-list,
  .footer-links
    text-align: center
    font-weight: 700
    ul
      color #F5F5F5
      margin-top -8px
      li
        padding 6px 0
.footer-copyright
  font-size .7em
  line-height 1.1
  a
    text-decoration: none
    color: #9E9E9E
  b
    font-size .5em
    color: #BDBDBD