.posted
   background: #eeeeee
  .post-index
    background: #ffffff
    width: 70%
    padding-top 15px
    margin-left: auto
    margin-right auto
    margin-top 0
    .post-article
      width: 90%
      margin: auto auto
      padding 20px 20px

.post-paginator
  width 60vw
  height 20vw
  margin-left auto
  margin-right auto
  margin-top 35px
  margin-bottom 15px
  z-index 0
  .post-pager
    width 100%
    height 100%
    margin auto auto
    display: flex
    justify-content: center
    .previous,
    .next
      margin: auto auto
      height 100%
      width 50%
      overflow hidden
      position relative
      z-index 0
      .paginator-cover
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover
        background-position: center
        z-index: -10
        transform: .2s all
        &:hover
          opacity .9
      .prev-text,
      .next-text
        display: flex
        height 100%
        justify-content center
        align-items center
        z-index 0
        .prev-title,
         .next-title
          color: #ffffff
          font-size 2rem
        
    