.self
  width: 100%
  padding 10px 0px
  hr
    border 1px solid #ffffff
  .self-container
    width 70%
    margin auto auto
    color: #000000
    a
      text-decoration: none
    .self-links::before
      font-family: Georgia,serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 1;
      position absolute
      padding: 0 12px 0 3px;
      content: '\201C';
      text-align: center;
      color: #666;
    .self-links
      ul
        line-height: 2
        list-style none
        display block
        margin-left 5%
    .self-information
      width: 100%
      .self-head
        margin-top 20px
        width: 100%
        display: flex
        justify-content center
        .self-image
          box-sizing: border-box
          padding 5px 5px
          border 2px solid #e0e0e0
          box-shadow 0 0 1px black
          border-radius: 100%
          img 
            height 85px 
            width: 85px
            border-radius: 100%
      .self-proverbs
        text-align: center
        margin-top 30px
        font-size 1.5rem
        color: #9e9e9e
      .self-info
        text-align: center
        margin-top 10px
        font-size .9rem
        color: #424242
      .self-address
        text-align: center
        margin-top 10px
        font-size 1rem
        color: #9e9e9e
        a
          color: #9e9e9e
      .self-stack
        width 60%
        text-align: center
        margin-top 30px
        margin-left auto
        margin-right auto
        display: block
        font-size 1rem
        .icon
          padding 0 3px
          width: 4em;
          height: 4em
          fill: currentColor;
          overflow: hidden;
       
          