.tags
  background: #ffffff
  padding 10px 10px
  .tags-container
    width: 70%
    margin auto auto
    .tags-post
      .tags-tag
        a
          text-decoration: none
          background: #616161
          color #F5F5F5
          padding 3px 5px
          border-radius 1em
          margin 5px 8px
          transition: 0.2s all
          &:hover
            background: #90a4ae
    .tags-content
      margin-top 30px
      width: 90%
      margin-left auto
      margin-right auto
      padding-top 10px
      .tags-tags-index
        .tags-icon
          padding 0 20px
          width: 1em;
          height: 1em
          fill: currentColor;
          overflow: hidden;
        .tags-text
          font-size 2rem
      .tags-preview
        a
          text-decoration: none
          font-size .9rem
          color #757575
          transition: 0.2s all
          &:hover
            color #90a4ae